/inpla
/__pycache__/
/examples/fashion_mnist/FashionMNIST/raw
/examples/fashion_mnist/fashion_mnist_a.onnx
/examples/fashion_mnist/fashion_mnist_a.onnx.data
/examples/fashion_mnist/fashion_mnist_b.onnx
/examples/fashion_mnist/fashion_mnist_b.onnx.data
/examples/fashion_mnist/script_argmax.fish
/examples/fashion_mnist/script_epsilon.fish
/examples/fashion_mnist/script_strict.fish
/examples/xor/xor_a.onnx
/examples/xor/xor_a.onnx.data
/examples/xor/xor_b.onnx
/examples/xor/xor_b.onnx.data
/examples/fashion_mnist/FashionMNIST/raw
/notes.norg
/examples/ACASXU/script_argmax.fish
/examples/ACASXU/script_epsilon.fish
/examples/ACASXU/script_strict.fish
/examples/iris/iris_b.onnx
/examples/iris/iris_b.onnx.data
/examples/iris/iris_a.onnx.data
/examples/iris/iris_a.onnx
