/inpla
/__pycache__/
/examples/mnist/MNIST/raw
/examples/mnist/mnist_a.onnx
/examples/mnist/mnist_a.onnx.data
/examples/mnist/mnist_b.onnx
/examples/mnist/mnist_b.onnx.data
/examples/xor/xor_a.onnx
/examples/xor/xor_a.onnx.data
/examples/xor/xor_b.onnx
/examples/xor/xor_b.onnx.data
/examples/iris/iris_b.onnx
/examples/iris/iris_b.onnx.data
/examples/iris/iris_a.onnx.data
/examples/iris/iris_a.onnx
